html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
/*   padding-top: 80px; */
  padding-top: 60px;
}

main {
  color: var(--background-our-team);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

section {
  @include mobile {
  padding-top: 60px;
  padding-bottom: 60px;
  }

  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}