address {
  @include desktop {
  display: flex;
  gap: 70px;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;

  @include desktop {
    display: block;
    margin-bottom: 20px;
  }
}