footer {
  background: var(--background-hero-footer);
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 100%;
}

.footer__container {

  @include desktop {
    display: flex;
    align-items: baseline;
  }
}

.tablet__wrap {
  
  @include tablet {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 165px;
  }

  @include desktop {
  gap: 70px;
  }
}