.navigation {

  &__contacts {
    display: none;

  @include tablet {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
  }
    
  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  }
}

.contacts {
  
  &__list {

    @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

    @include desktop {
    display: flex;
    gap: 30px;
  }
  }

  &__link {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 /12);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    fill: currentColor;
    @include align-list;
    gap: 8px;
    transition: color var(--animation);

    @include desktop {
      font-size: 14px;
      line-height: 1.14;
      gap: 10px;
    }

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.img__mail {
  @include desktop {
  width: 16px;
  height: 12px;
  }
}

.img__tel {
  @include desktop {
  width: 10px;
  height: 16px;
  }
}